@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    
    body{
        background: -webkit-linear-gradient(top, rgb(101, 248, 248), darkcyan);
    }

    section#login{
        display: block;
        margin-top: 20px;
        width: 70vw;
        height: 60vh;
    }
    img{
        width: 35vw;
        height: 60vh;
    }
    
    div#imagem{
        float: left;
        display: inline-block;
        width: 35vw;
        height: 60vh;
    }
    
    div#formulario{
        display: inline-block;
        float: right;
        background-color: white;
        width: 35vw;
        height:60vh;
    }

    div#formulario > h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }
    div#formulario > p{
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    form > div{
        display: block;
        width: 250px;
        height: 40px;
    }
    
    input[type=email]{
        margin-left: 45px;
        margin-top: -1px;
       
    }

    input[type=password]{
        margin-left: 45px;
        margin-top: -1px;
        
    }

    span{
        margin-top: 5px;
        margin-left: 5px;
    }
}
@media screen and (min-width: 992px){

    body{
        background: -webkit-linear-gradient(top, rgb(101, 248, 248), darkcyan);
    }

    section#login{
        display: block;
        width: 70vw;
        height: 60vh;
    }
    
    div#imagem{
        float: right;
        display: inline-block;
        width: 35vw;
        height: 60vh;
    }
    
    div#formulario{
        display: inline-block;
        float: left;
        background-color: white;
        width: 35vw;
        height:60vh;
    }

    div#formulario>p {
        font-size: 1em;
        margin-left: 10px;
        margin-right: 10px;
    }

    form > div{
        width: 350px;
        height: 50px;
    }

    input{
        display: block;
        transform: translateY(-5px);
    }

    input[type=email]{
        display: block;
        height: 48px;
        font-size: large;
        margin-left: 45px;
        margin-top: -38px;
    }

    input[type=password]{
        display: block;
        height: 48px;
        font-size: large;
        margin-left: 45px;
        margin-top: -38px;
    }

    span{
        margin-top: 10px;
        margin-left: 8px;
    }
}