@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color:rgba(0, 139, 139, 0.767);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 90vh;
    border-radius: 20px;
    overflow: hidden;
    text-align: justify;
    margin-top: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.425);
    transition-timing-function: ease;
    transition: width .3s, height: .3s;
}

img{
    width: 50vw;
    height: 35vh;
}

div#imagem{
    display: block;
    background: url(../imagens/pexels-ivan-bertolazzi-2681405\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 35vh;  
}

div#formulario{
    display: block;
    background-color: white;
    width: 50vw;
    height: 55vh;
   
}

div#formulario > h1 {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
}
div#formulario > p{
    padding: 5px;
    font-size: 0.8em;
}

form > div{
    background-color: rgb(45, 45, 136);
    margin: auto;
    margin-top: 10px;
    padding-bottom: 1px;
    width: 230px;
    height: 40px;
    border-radius: 10px;
}

div#entrar{
    display: block;
    background-color: lightblue;
    text-align: center;
    color: white;
    border: 1px solid rgb(45, 45, 136);
    
}

div#entrar:hover{
    background-color: lightgreen;
    cursor: pointer;
}

div#esqueci{
    display: block;
    background-color: white;
    border: 1px solid rgb(45, 45, 136);
    text-align: center;
}

input{
    background-color: lightblue;
    width: 197px;
    height: 37px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

input[type=submit]{
    font-size: 1em;
 }

 input[type=submit]:hover{
    background-color: lightgreen;
 }

span{
    color: white;
}